.navbar {
    height: 100%;
    top: 0;
    left: 0;
    background-color: #112d4e;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    /* when active font-weight: 700 */
    /* when active opacity: 1 */
    border: none;
    width: 100%;
    color: white;
    padding: 0.7em 0em 0.7em 2em;
    background-color: #112d4e;
    text-align: start;
    white-space: nowrap;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.7em;
}

.navbar-button-main {
    margin: 0.5em 0em 0.7em 0em;
    font-weight: 700;
}

.navbar-button-list {
    opacity: 70%;
}

.navbar button:hover {
    opacity: 1;
    background-color: #3f72af;
    cursor: pointer;
}

img {
    width: 15%;
}
