.navbar {
    border: 1px solid red;
    height: 100%;
    width: 17%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #112D4E;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    border: 1px solid green;
    height: 100%;
    padding: 1px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    border: none;
    color: white;
    background-color: #112D4E;
    padding: 0.7em 0;
}

.navbar-button-main {
    margin: 0.5em 0;
}